In [1]:
# import pandas as pd
# import numpy as np
# import pickle
# import os.path

In [2]:
def get_holidays(fpath):
    # holidays are from http://www.timeanddate.com/holidays/us/ , holidays and some observances
    
    f = open(fpath)
    lines = f.readlines()
    lines = [line.split(" ")[:3] for line in lines]
    lines = ["{} {} {}".format(line[0], line[1], line[2]) for line in lines]
    lines = pd.to_datetime(lines)
    return pd.DataFrame({"date2":lines})

In [3]:
def get_holiday_names(fpath):
    # holiday_names are holidays + around Black Fridays
    
    f = open(fpath)
    lines = f.readlines()
    lines = [line.strip().split(" ")[:4] for line in lines]
    lines_dt = ["{} {} {}".format(line[0], line[1], line[2]) for line in lines]
    lines_dt = pd.to_datetime(lines_dt)
    lines_hol = [line[3] for line in lines]
    return pd.DataFrame({"date2":lines_dt, "holiday_name":lines_hol})

In [4]:
holidays = get_holidays("walmart_holidays.txt")
holiday_names = get_holiday_names("walmart_holiday_names.txt")

In [5]:
holidays

        date2
0  2012-01-01
1  2012-01-02
2  2012-01-16
3  2012-02-14
4  2012-02-20
5  2012-04-08
6  2012-05-13
7  2012-05-28
8  2012-06-17
9  2012-07-04
10 2012-09-03
11 2012-10-08
12 2012-10-31
13 2012-11-06
14 2012-11-11
15 2012-11-12
16 2012-11-22
17 2012-12-24
18 2012-12-25
19 2012-12-31
20 2013-01-01
21 2013-01-21
22 2013-02-14
23 2013-02-18
24 2013-03-31
25 2013-05-12
26 2013-05-27
27 2013-06-16
28 2013-07-04
29 2013-09-02
30 2013-10-14
31 2013-10-31
32 2013-11-11
33 2013-11-28
34 2013-12-24
35 2013-12-25
36 2013-12-31
37 2014-01-01
38 2014-01-20
39 2014-02-14
40 2014-02-17
41 2014-04-13
42 2014-04-20
43 2014-05-11
44 2014-05-26
45 2014-06-15
46 2014-07-04
47 2014-09-01
48 2014-10-13
49 2014-10-31
50 2014-11-11
51 2014-11-27
52 2014-12-24
53 2014-12-25
54 2014-12-31

In [6]:
holiday_names

        date2         holiday_name
0  2012-01-01          NewYearsDay
1  2012-01-16  MartinLutherKingDay
2  2012-02-14        ValentinesDay
3  2012-02-20        PresidentsDay
4  2012-04-08         EasterSunday
5  2012-05-13           MothersDay
6  2012-05-28          MemorialDay
7  2012-06-17           FathersDay
8  2012-07-04      IndependenceDay
9  2012-09-03             LaborDay
10 2012-10-08          ColumbusDay
11 2012-10-31            Halloween
12 2012-11-06          ElectionDay
13 2012-11-11          VeteransDay
14 2012-11-20        BlackFridayM3
15 2012-11-21        BlackFridayM2
16 2012-11-22      ThanksgivingDay
17 2012-11-23          BlackFriday
18 2012-11-24         BlackFriday1
19 2012-11-25         BlackFriday2
20 2012-11-26         BlackFriday3
21 2012-12-24         ChristmasEve
22 2012-12-25         ChristmasDay
23 2012-12-31          NewYearsEve
24 2013-01-01          NewYearsDay
25 2013-01-21  MartinLutherKingDay
26 2013-02-14        ValentinesDay
27 2013-02-18        PresidentsDay
28 2013-03-31         EasterSunday
29 2013-05-12           MothersDay
30 2013-05-27          MemorialDay
31 2013-06-16           FathersDay
32 2013-07-04      IndependenceDay
33 2013-09-02             LaborDay
34 2013-10-14          ColumbusDay
35 2013-10-31            Halloween
36 2013-11-11          VeteransDay
37 2013-11-26        BlackFridayM3
38 2013-11-27        BlackFridayM2
39 2013-11-28      ThanksgivingDay
40 2013-11-29          BlackFriday
41 2013-11-30         BlackFriday1
42 2013-12-01         BlackFriday2
43 2013-12-02         BlackFriday3
44 2013-12-24         ChristmasEve
45 2013-12-25         ChristmasDay
46 2013-12-31          NewYearsEve
47 2014-01-01          NewYearsDay
48 2014-01-20  MartinLutherKingDay
49 2014-02-14        ValentinesDay
50 2014-02-17        PresidentsDay
51 2014-04-20         EasterSunday
52 2014-05-11           MothersDay
53 2014-05-26          MemorialDay
54 2014-06-15           FathersDay
55 2014-07-04      IndependenceDay
56 2014-09-01             LaborDay
57 2014-10-13          ColumbusDay
58 2014-10-31            Halloween

In [7]:
def to_float(series, replace_value_for_M, replace_value_for_T):
    series = series.map(lambda s : s.strip())
    series[series == 'M'] = replace_value_for_M
    series[series == 'T'] = replace_value_for_T
    return series.astype(float)

In [8]:
def preprocess(_df, is_train):
    
    df = _df.copy()

    # log1p
    if is_train: 
        df['log1p'] = np.log(df['units'] + 1)

    # date
    df['date2'] = pd.to_datetime(df['date'])

    # weather features
    wtr['date2'] = pd.to_datetime(wtr.date)
    wtr["preciptotal2"] = to_float(wtr["preciptotal"], 0.00, 0.005)
    wtr["preciptotal_flag"] = np.where(wtr["preciptotal2"] > 0.2, 1.0, 0.0)

    wtr["depart2"] = to_float(wtr.depart, np.nan, 0.00)
    wtr["depart_flag"] = 0.0
    wtr["depart_flag"] = np.where(wtr["depart2"] < -8.0, -1, wtr["depart_flag"])
    wtr["depart_flag"] = np.where(wtr["depart2"] > 8.0 ,  1, wtr["depart_flag"])
    df = pd.merge(df, key, on='store_nbr')
    df = pd.merge(df, wtr[["date2", "station_nbr", "preciptotal_flag", "depart_flag"]], 
                      on=["date2", "station_nbr"])
    
    # weekday
    df['weekday'] = df.date2.dt.weekday
    df['is_weekend'] = df.date2.dt.weekday.isin([5,6])
    df['is_holiday'] = df.date2.isin(holidays.date2)
    df['is_holiday_weekday'] = df.is_holiday & (df.is_weekend == False)
    df['is_holiday_weekend'] = df.is_holiday &  df.is_weekend

    # bool to int (maybe no meaning)
    df.is_weekend = np.where(df.is_weekend, 1, 0)
    df.is_holiday = np.where(df.is_holiday, 1, 0)
    df.is_holiday_weekday = np.where(df.is_holiday_weekday, 1, 0)
    df.is_holiday_weekend = np.where(df.is_holiday_weekend, 1, 0)
    
    # day, month, year
    df['day'] = df.date2.dt.day
    df['month'] = df.date2.dt.month
    df['year'] = df.date2.dt.year
    
    # around BlackFriday
    df = pd.merge(df, holiday_names, on='date2', how = 'left')
    df.loc[df.holiday_name.isnull(), "holiday_name"] = ""

    around_BlackFriday = ["BlackFridayM3", "BlackFridayM2", "ThanksgivingDay", "BlackFriday",
                          "BlackFriday1", "BlackFriday2", "BlackFriday3"]
    df["around_BlackFriday"] = np.where(df.holiday_name.isin(around_BlackFriday), 
                                        df.holiday_name, "Else")

    return df

In [9]:
# read dataframes
key = pd.read_csv("key.csv")
wtr = pd.read_csv("weather.csv")
holidays = get_holidays("walmart_holidays.txt")
holiday_names = get_holiday_names("walmart_holiday_names.txt")

# store_item_nbrs_path = 'model/store_item_nbrs.csv'
# store_item_nbrs = pd.read_csv(store_item_nbrs_path)
# valid_store_items = set(zip(store_item_nbrs.store_nbr, store_item_nbrs.item_nbr))

In [10]:
tra = pd.read_csv("train.csv")
store_item_nbrs = pd.DataFrame(tra, columns=['store_nbr', 'item_nbr'])
valid_store_items = set(zip(store_item_nbrs.store_nbr, store_item_nbrs.item_nbr))

In [11]:
# preprocess 
df_train = pd.read_csv("train.csv")
mask_train = [(sno_ino in valid_store_items) for sno_ino in zip(df_train['store_nbr'], df_train['item_nbr']) ]
df_train = df_train[mask_train].copy()
preprocess(df_train, True)

,date,store_nbr,item_nbr,units,log1p,date2,station_nbr,preciptotal_flag,depart_flag,weekday,is_weekend,is_holiday,is_holiday_weekday,is_holiday_weekend,day,month,year,holiday_name,around_BlackFriday
0,2012-01-01,1,1,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
1,2012-01-01,1,2,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
2,2012-01-01,1,3,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
3,2012-01-01,1,4,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
4,2012-01-01,1,5,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
5,2012-01-01,1,6,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
6,2012-01-01,1,7,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
7,2012-01-01,1,8,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
8,2012-01-01,1,9,29,3.401197,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
9,2012-01-01,1,10,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
10,2012-01-01,1,11,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
11,2012-01-01,1,12,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
12,2012-01-01,1,13,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
13,2012-01-01,1,14,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
14,2012-01-01,1,15,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
15,2012-01-01,1,16,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
16,2012-01-01,1,17,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
17,2012-01-01,1,18,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
18,2012-01-01,1,19,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
19,2012-01-01,1,20,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
20,2012-01-01,1,21,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
21,2012-01-01,1,22,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
22,2012-01-01,1,23,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
23,2012-01-01,1,24,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
24,2012-01-01,1,25,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
25,2012-01-01,1,26,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
26,2012-01-01,1,27,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
27,2012-01-01,1,28,2,1.098612,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
28,2012-01-01,1,29,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
29,2012-01-01,1,30,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617570,2014-10-31,35,82,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617571,2014-10-31,35,83,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617572,2014-10-31,35,84,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617573,2014-10-31,35,85,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617574,2014-10-31,35,86,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617575,2014-10-31,35,87,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617576,2014-10-31,35,88,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617577,2014-10-31,35,89,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617578,2014-10-31,35,90,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617579,2014-10-31,35,91,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617580,2014-10-31,35,92,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617581,2014-10-31,35,93,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617582,2014-10-31,35,94,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617583,2014-10-31,35,95,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617584,2014-10-31,35,96,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617585,2014-10-31,35,97,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617586,2014-10-31,35,98,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617587,2014-10-31,35,99,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617588,2014-10-31,35,100,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617589,2014-10-31,35,101,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617590,2014-10-31,35,102,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617591,2014-10-31,35,103,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617592,2014-10-31,35,104,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617593,2014-10-31,35,105,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617594,2014-10-31,35,106,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617595,2014-10-31,35,107,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617596,2014-10-31,35,108,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617597,2014-10-31,35,109,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617598,2014-10-31,35,110,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
4617599,2014-10-31,35,111,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else

In [12]:
df_test =  pd.read_csv("test.csv")
mask_test = [(sno_ino in valid_store_items) for sno_ino in zip(df_test['store_nbr'], df_test['item_nbr']) ]
df_test =  df_test[mask_test].copy()
preprocess(df_test,  False)

,date,store_nbr,item_nbr,date2,station_nbr,preciptotal_flag,depart_flag,weekday,is_weekend,is_holiday,is_holiday_weekday,is_holiday_weekend,day,month,year,holiday_name,around_BlackFriday
0,2013-04-01,2,1,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
1,2013-04-01,2,2,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
2,2013-04-01,2,3,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
3,2013-04-01,2,4,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
4,2013-04-01,2,5,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
5,2013-04-01,2,6,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
6,2013-04-01,2,7,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
7,2013-04-01,2,8,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
8,2013-04-01,2,9,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
9,2013-04-01,2,10,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
10,2013-04-01,2,11,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
11,2013-04-01,2,12,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
12,2013-04-01,2,13,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
13,2013-04-01,2,14,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
14,2013-04-01,2,15,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
15,2013-04-01,2,16,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
16,2013-04-01,2,17,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
17,2013-04-01,2,18,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
18,2013-04-01,2,19,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
19,2013-04-01,2,20,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
20,2013-04-01,2,21,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
21,2013-04-01,2,22,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
22,2013-04-01,2,23,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
23,2013-04-01,2,24,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
24,2013-04-01,2,25,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
25,2013-04-01,2,26,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
26,2013-04-01,2,27,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
27,2013-04-01,2,28,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
28,2013-04-01,2,29,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
29,2013-04-01,2,30,2013-04-01,14,0.0,0.0,0,0,0,0,0,1,4,2013,,Else
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526887,2014-08-02,40,82,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526888,2014-08-02,40,83,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526889,2014-08-02,40,84,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526890,2014-08-02,40,85,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526891,2014-08-02,40,86,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526892,2014-08-02,40,87,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526893,2014-08-02,40,88,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526894,2014-08-02,40,89,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526895,2014-08-02,40,90,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526896,2014-08-02,40,91,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526897,2014-08-02,40,92,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526898,2014-08-02,40,93,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526899,2014-08-02,40,94,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526900,2014-08-02,40,95,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526901,2014-08-02,40,96,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526902,2014-08-02,40,97,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526903,2014-08-02,40,98,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526904,2014-08-02,40,99,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526905,2014-08-02,40,100,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526906,2014-08-02,40,101,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526907,2014-08-02,40,102,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526908,2014-08-02,40,103,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526909,2014-08-02,40,104,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526910,2014-08-02,40,105,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526911,2014-08-02,40,106,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526912,2014-08-02,40,107,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526913,2014-08-02,40,108,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526914,2014-08-02,40,109,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526915,2014-08-02,40,110,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else
526916,2014-08-02,40,111,2014-08-02,13,0.0,0.0,5,1,0,0,0,2,8,2014,,Else