# Walmart Recruiting II: Sales in Stormy Weather

- 타겟 데이터
    - `units` : 주어진 날짜에 판매 된 수량
    - 주요 기상 이변시기에 walmart의 지점 45곳에서 판매된 날씨에 민감한 111가지 제품의 양을 예측
    - 예측기간은 `2013-04-01 ~ 2014-10-26`
- 특징 데이터
    - `date` : 2012-01-01 ~ 2013-03-31 사이의 판매일
    - `store_nbr` : 45개의 지점 중 하나를 나타내는 ID
    - `station_nbr` : 20개의 기상 관측소 중 하나를 나타내는 ID
    - `item_nbr` : 111가지 제품 중 하나를 나타내는 ID
    - `tmax` : 최고기온
    - `tmin` : 최저기온
    - `tavg` : 평균기온
    - `depart` : (정상범위에서) 온도 편차
    - `dewpoint` : 평균이슬점
    - `wetbulb` : 평균습구
    - `heat` : 뜨거운 기후, 열기 (계절은 7 월과 함께 시작)
    - `cool` :	서늘한 기후 (계절은 1 월과 함께 시작)
    - `sunrise` : 일출 (계산 됨, 관찰되지 않음)
    - `sunset` : 일몰 (계산 됨, 관찰되지 않음)	
    - `codesum` : 중요한 기상 유형 (기상현상 코드화)
    - `snowfall` : 강설량 (T = ?, M = 데이터 누락)
    - `preciptotal` : 강수량 (T = ?, M = 데이터 누락)
    - `stnpressure` : 평균 관측소 기압
    - `sealevel` : 평균 해면기압
    - `resultspeed` : 합성풍속
    - `resultdir` :	합성풍향
    - `avgspeed` : 평균풍속

In [1]:
def get_holidays(fpath):
    
    f = open(fpath)
    lines = f.readlines()
    lines = [line.split(" ")[:3] for line in lines]
    lines = ["{} {} {}".format(line[0], line[1], line[2]) for line in lines]
    lines = pd.to_datetime(lines)
    return pd.DataFrame({"date2":lines})

In [2]:
def get_holiday_names(fpath):
    # holiday_names are holidays + around Black Fridays
    
    f = open(fpath)
    lines = f.readlines()
    lines = [line.strip().split(" ")[:4] for line in lines]
    lines_dt = ["{} {} {}".format(line[0], line[1], line[2]) for line in lines]
    lines_dt = pd.to_datetime(lines_dt)
    lines_hol = [line[3] for line in lines]
    return pd.DataFrame({"date2":lines_dt, "holiday_name":lines_hol})

In [3]:
def preprocess(_df, is_train):
    
    df = _df.copy()
    
    # date
    df['date2'] = pd.to_datetime(df['date'])
    
    # weekday
    df['weekday'] = df.date2.dt.weekday
    df['is_weekend'] = df.date2.dt.weekday.isin([5,6])
    df['is_holiday'] = df.date2.isin(holidays.date2)
    df['is_holiday_weekday'] = df.is_holiday & (df.is_weekend == False)
    df['is_holiday_weekend'] = df.is_holiday &  df.is_weekend

    # bool to int (maybe no meaning)
    df.is_weekend = np.where(df.is_weekend, 1, 0)
    df.is_holiday = np.where(df.is_holiday, 1, 0)
    df.is_holiday_weekday = np.where(df.is_holiday_weekday, 1, 0)
    df.is_holiday_weekend = np.where(df.is_holiday_weekend, 1, 0)
    
    # day, month, year
    df['day'] = df.date2.dt.day
    df['month'] = df.date2.dt.month
    df['year'] = df.date2.dt.year
    
    # around BlackFriday
    df = pd.merge(df, holiday_names, on='date2', how = 'left')
    df.loc[df.holiday_name.isnull(), "holiday_name"] = ""

    around_BlackFriday = ["BlackFridayM3", "BlackFridayM2", "ThanksgivingDay", "BlackFriday",
                          "BlackFriday1", "BlackFriday2", "BlackFriday3"]
    df["around_BlackFriday"] = np.where(df.holiday_name.isin(around_BlackFriday), 
                                        df.holiday_name, "Else")

    return df

In [4]:
# read dataframes
key = pd.read_csv("key.csv")
wtr = pd.read_csv("weather.csv")
holidays = get_holidays("walmart_holidays.txt")
holiday_names = get_holiday_names("walmart_holiday_names.txt")

In [5]:
holiday_names

        date2         holiday_name
0  2012-01-01          NewYearsDay
1  2012-01-16  MartinLutherKingDay
2  2012-02-14        ValentinesDay
3  2012-02-20        PresidentsDay
4  2012-04-08         EasterSunday
5  2012-05-13           MothersDay
6  2012-05-28          MemorialDay
7  2012-06-17           FathersDay
8  2012-07-04      IndependenceDay
9  2012-09-03             LaborDay
10 2012-10-08          ColumbusDay
11 2012-10-31            Halloween
12 2012-11-06          ElectionDay
13 2012-11-11          VeteransDay
14 2012-11-20        BlackFridayM3
15 2012-11-21        BlackFridayM2
16 2012-11-22      ThanksgivingDay
17 2012-11-23          BlackFriday
18 2012-11-24         BlackFriday1
19 2012-11-25         BlackFriday2
20 2012-11-26         BlackFriday3
21 2012-12-24         ChristmasEve
22 2012-12-25         ChristmasDay
23 2012-12-31          NewYearsEve
24 2013-01-01          NewYearsDay
25 2013-01-21  MartinLutherKingDay
26 2013-02-14        ValentinesDay
27 2013-02-18        PresidentsDay
28 2013-03-31         EasterSunday
29 2013-05-12           MothersDay
30 2013-05-27          MemorialDay
31 2013-06-16           FathersDay
32 2013-07-04      IndependenceDay
33 2013-09-02             LaborDay
34 2013-10-14          ColumbusDay
35 2013-10-31            Halloween
36 2013-11-11          VeteransDay
37 2013-11-26        BlackFridayM3
38 2013-11-27        BlackFridayM2
39 2013-11-28      ThanksgivingDay
40 2013-11-29          BlackFriday
41 2013-11-30         BlackFriday1
42 2013-12-01         BlackFriday2
43 2013-12-02         BlackFriday3
44 2013-12-24         ChristmasEve
45 2013-12-25         ChristmasDay
46 2013-12-31          NewYearsEve
47 2014-01-01          NewYearsDay
48 2014-01-20  MartinLutherKingDay
49 2014-02-14        ValentinesDay
50 2014-02-17        PresidentsDay
51 2014-04-20         EasterSunday
52 2014-05-11           MothersDay
53 2014-05-26          MemorialDay
54 2014-06-15           FathersDay
55 2014-07-04      IndependenceDay
56 2014-09-01             LaborDay
57 2014-10-13          ColumbusDay
58 2014-10-31            Halloween

In [24]:
df_train = pd.read_csv("train.csv")
df_train = preprocess(df_train, True)
df_train

,date,store_nbr,item_nbr,units,date2,weekday,is_weekend,is_holiday,is_holiday_weekday,is_holiday_weekend,day,month,year,holiday_name,around_BlackFriday
0,2012-01-01,1,1,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
1,2012-01-01,1,2,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
2,2012-01-01,1,3,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
3,2012-01-01,1,4,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
4,2012-01-01,1,5,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
5,2012-01-01,1,6,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
6,2012-01-01,1,7,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
7,2012-01-01,1,8,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
8,2012-01-01,1,9,29,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
9,2012-01-01,1,10,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
10,2012-01-01,1,11,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
11,2012-01-01,1,12,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
12,2012-01-01,1,13,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
13,2012-01-01,1,14,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
14,2012-01-01,1,15,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
15,2012-01-01,1,16,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
16,2012-01-01,1,17,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
17,2012-01-01,1,18,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
18,2012-01-01,1,19,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
19,2012-01-01,1,20,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
20,2012-01-01,1,21,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
21,2012-01-01,1,22,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
22,2012-01-01,1,23,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
23,2012-01-01,1,24,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
24,2012-01-01,1,25,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
25,2012-01-01,1,26,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
26,2012-01-01,1,27,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
27,2012-01-01,1,28,2,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
28,2012-01-01,1,29,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
29,2012-01-01,1,30,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617570,2014-10-31,45,82,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617571,2014-10-31,45,83,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617572,2014-10-31,45,84,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617573,2014-10-31,45,85,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617574,2014-10-31,45,86,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617575,2014-10-31,45,87,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617576,2014-10-31,45,88,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617577,2014-10-31,45,89,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617578,2014-10-31,45,90,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617579,2014-10-31,45,91,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617580,2014-10-31,45,92,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617581,2014-10-31,45,93,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617582,2014-10-31,45,94,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617583,2014-10-31,45,95,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617584,2014-10-31,45,96,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617585,2014-10-31,45,97,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617586,2014-10-31,45,98,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617587,2014-10-31,45,99,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617588,2014-10-31,45,100,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617589,2014-10-31,45,101,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617590,2014-10-31,45,102,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617591,2014-10-31,45,103,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617592,2014-10-31,45,104,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617593,2014-10-31,45,105,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617594,2014-10-31,45,106,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617595,2014-10-31,45,107,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617596,2014-10-31,45,108,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617597,2014-10-31,45,109,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617598,2014-10-31,45,110,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617599,2014-10-31,45,111,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else

In [23]:
df_weekendAndholiday = df_train[(df_train["is_weekend"]==1) & (df_train["is_holiday"] == 1)]
df_weekendAndholiday

,date,store_nbr,item_nbr,units,date2,weekday,is_weekend,is_holiday,is_holiday_weekday,is_holiday_weekend,day,month,year,holiday_name,around_BlackFriday
0,2012-01-01,1,1,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
1,2012-01-01,1,2,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
2,2012-01-01,1,3,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
3,2012-01-01,1,4,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
4,2012-01-01,1,5,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
5,2012-01-01,1,6,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
6,2012-01-01,1,7,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
7,2012-01-01,1,8,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
8,2012-01-01,1,9,29,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
9,2012-01-01,1,10,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
10,2012-01-01,1,11,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
11,2012-01-01,1,12,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
12,2012-01-01,1,13,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
13,2012-01-01,1,14,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
14,2012-01-01,1,15,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
15,2012-01-01,1,16,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
16,2012-01-01,1,17,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
17,2012-01-01,1,18,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
18,2012-01-01,1,19,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
19,2012-01-01,1,20,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
20,2012-01-01,1,21,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
21,2012-01-01,1,22,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
22,2012-01-01,1,23,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
23,2012-01-01,1,24,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
24,2012-01-01,1,25,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
25,2012-01-01,1,26,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
26,2012-01-01,1,27,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
27,2012-01-01,1,28,2,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
28,2012-01-01,1,29,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
29,2012-01-01,1,30,0,2012-01-01,6,1,1,0,1,1,1,2012,NewYearsDay,Else
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4071339,2014-06-15,45,82,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071340,2014-06-15,45,83,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071341,2014-06-15,45,84,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071342,2014-06-15,45,85,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071343,2014-06-15,45,86,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071344,2014-06-15,45,87,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071345,2014-06-15,45,88,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071346,2014-06-15,45,89,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071347,2014-06-15,45,90,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071348,2014-06-15,45,91,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071349,2014-06-15,45,92,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071350,2014-06-15,45,93,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071351,2014-06-15,45,94,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071352,2014-06-15,45,95,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071353,2014-06-15,45,96,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071354,2014-06-15,45,97,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071355,2014-06-15,45,98,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071356,2014-06-15,45,99,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071357,2014-06-15,45,100,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071358,2014-06-15,45,101,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071359,2014-06-15,45,102,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071360,2014-06-15,45,103,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071361,2014-06-15,45,104,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071362,2014-06-15,45,105,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071363,2014-06-15,45,106,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071364,2014-06-15,45,107,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071365,2014-06-15,45,108,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071366,2014-06-15,45,109,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071367,2014-06-15,45,110,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else
4071368,2014-06-15,45,111,0,2014-06-15,6,1,1,0,1,15,6,2014,FathersDay,Else

In [25]:
df_weekendAndNotholiday = df_train[(df_train["is_weekend"]==1) & (df_train["is_holiday"] == 0)]
df_weekendAndNotholiday

,date,store_nbr,item_nbr,units,date2,weekday,is_weekend,is_holiday,is_holiday_weekday,is_holiday_weekend,day,month,year,holiday_name,around_BlackFriday
29304,2012-01-07,1,1,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29305,2012-01-07,1,2,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29306,2012-01-07,1,3,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29307,2012-01-07,1,4,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29308,2012-01-07,1,5,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29309,2012-01-07,1,6,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29310,2012-01-07,1,7,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29311,2012-01-07,1,8,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29312,2012-01-07,1,9,2,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29313,2012-01-07,1,10,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29314,2012-01-07,1,11,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29315,2012-01-07,1,12,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29316,2012-01-07,1,13,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29317,2012-01-07,1,14,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29318,2012-01-07,1,15,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29319,2012-01-07,1,16,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29320,2012-01-07,1,17,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29321,2012-01-07,1,18,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29322,2012-01-07,1,19,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29323,2012-01-07,1,20,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29324,2012-01-07,1,21,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29325,2012-01-07,1,22,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29326,2012-01-07,1,23,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29327,2012-01-07,1,24,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29328,2012-01-07,1,25,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29329,2012-01-07,1,26,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29330,2012-01-07,1,27,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29331,2012-01-07,1,28,1,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29332,2012-01-07,1,29,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
29333,2012-01-07,1,30,0,2012-01-07,5,1,0,0,0,7,1,2012,,Else
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4592595,2014-10-26,44,82,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592596,2014-10-26,44,83,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592597,2014-10-26,44,84,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592598,2014-10-26,44,85,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592599,2014-10-26,44,86,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592600,2014-10-26,44,87,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592601,2014-10-26,44,88,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592602,2014-10-26,44,89,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592603,2014-10-26,44,90,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592604,2014-10-26,44,91,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592605,2014-10-26,44,92,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592606,2014-10-26,44,93,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592607,2014-10-26,44,94,1,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592608,2014-10-26,44,95,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592609,2014-10-26,44,96,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592610,2014-10-26,44,97,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592611,2014-10-26,44,98,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592612,2014-10-26,44,99,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592613,2014-10-26,44,100,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592614,2014-10-26,44,101,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592615,2014-10-26,44,102,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592616,2014-10-26,44,103,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592617,2014-10-26,44,104,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592618,2014-10-26,44,105,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592619,2014-10-26,44,106,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592620,2014-10-26,44,107,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592621,2014-10-26,44,108,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592622,2014-10-26,44,109,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592623,2014-10-26,44,110,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else
4592624,2014-10-26,44,111,0,2014-10-26,6,1,0,0,0,26,10,2014,,Else

In [26]:
df_NotweekendAndholiday = df_train[(df_train["is_weekend"]==0) & (df_train["is_holiday"] == 1)]
df_NotweekendAndholiday

,date,store_nbr,item_nbr,units,date2,weekday,is_weekend,is_holiday,is_holiday_weekday,is_holiday_weekend,day,month,year,holiday_name,around_BlackFriday
4884,2012-01-02,1,1,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4885,2012-01-02,1,2,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4886,2012-01-02,1,3,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4887,2012-01-02,1,4,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4888,2012-01-02,1,5,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4889,2012-01-02,1,6,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4890,2012-01-02,1,7,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4891,2012-01-02,1,8,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4892,2012-01-02,1,9,60,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4893,2012-01-02,1,10,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4894,2012-01-02,1,11,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4895,2012-01-02,1,12,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4896,2012-01-02,1,13,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4897,2012-01-02,1,14,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4898,2012-01-02,1,15,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4899,2012-01-02,1,16,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4900,2012-01-02,1,17,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4901,2012-01-02,1,18,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4902,2012-01-02,1,19,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4903,2012-01-02,1,20,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4904,2012-01-02,1,21,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4905,2012-01-02,1,22,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4906,2012-01-02,1,23,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4907,2012-01-02,1,24,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4908,2012-01-02,1,25,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4909,2012-01-02,1,26,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4910,2012-01-02,1,27,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4911,2012-01-02,1,28,5,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4912,2012-01-02,1,29,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
4913,2012-01-02,1,30,0,2012-01-02,0,0,1,1,0,2,1,2012,,Else
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617570,2014-10-31,45,82,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617571,2014-10-31,45,83,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617572,2014-10-31,45,84,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617573,2014-10-31,45,85,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617574,2014-10-31,45,86,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617575,2014-10-31,45,87,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617576,2014-10-31,45,88,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617577,2014-10-31,45,89,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617578,2014-10-31,45,90,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617579,2014-10-31,45,91,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617580,2014-10-31,45,92,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617581,2014-10-31,45,93,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617582,2014-10-31,45,94,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617583,2014-10-31,45,95,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617584,2014-10-31,45,96,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617585,2014-10-31,45,97,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617586,2014-10-31,45,98,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617587,2014-10-31,45,99,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617588,2014-10-31,45,100,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617589,2014-10-31,45,101,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617590,2014-10-31,45,102,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617591,2014-10-31,45,103,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617592,2014-10-31,45,104,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617593,2014-10-31,45,105,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617594,2014-10-31,45,106,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617595,2014-10-31,45,107,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617596,2014-10-31,45,108,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617597,2014-10-31,45,109,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617598,2014-10-31,45,110,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else
4617599,2014-10-31,45,111,0,2014-10-31,4,0,1,1,0,31,10,2014,Halloween,Else